$mobileBigMediaQuery: 480px;
$backgroundColor: #fff;
$backgroundColorB: #000;
$buttonTextColor: #fff;
$textColor: #000;
$fontMedium: 500;
$xSmallFontSize: 10px;
$smallFontSize: 12px;
$paragraphFontSize: 14px;
$titleFontSize: 24px;
$cursor: pointer;
