$container: 1280px;
$mobileMediumMediaQuery: 480px;
$mobileBigMediaQuery: 767px;
$tabletMediaQuery: 1279px;
$backgroundColor: #fff;
$backgroundColorB: #000;
$buttonTextColor: #fff;
$textColor: #000;
$fontLight: 400;
$fontMedium: 500;
$fontBold: 900;
$xSmallFontSize: 10px;
$smallFontSize: 12px;
$paragraphFontSize: 14px;
$miniTitleFontSize: 18px;
$titleFontSize: 24px;
$cursor: pointer;
