@import "../../sass/abstracts/variables";

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  width: 430px;
  background-color: $backgroundColor;
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.popup__form {
  margin-top: 54px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0 0 9px 0;
  font-weight: 400;
  font-size: $paragraphFontSize;
  line-height: 1.2;
  color: $textColor;
  outline: none;
}

.popup__input:not(:first-child) {
  margin-top: 30px;
}

.popup__input::placeholder {
  color: #C4C4C4;
}

.popup__title {
  margin: 0;
  font-weight: $fontBold;
  font-size: $titleFontSize;
  line-height: 1.2;
}

.popup__button {
  display: block;
  border: none;
  box-sizing: border-box;
  background: $backgroundColorB none;
  font-weight: $fontLight;
  font-size: $miniTitleFontSize;
  line-height: 1.22;
  color: $buttonTextColor;
  width: 100%;
  height: 50px;
  margin: 48px auto 0;
  border-radius: 2px;
  transition: opacity 0.2s ease-in;
  cursor: $cursor;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button_disabled {
  border: 1px solid $backgroundColorB;
  background-color: $backgroundColor;
  color: $textColor;
  opacity: 0.2;
  cursor: default;
}

.popup__button_disabled:hover {
  opacity: 0.2;
}

.popup__close {
  cursor: $cursor;
  background: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
}

.popup__close-img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: $mobileBigMediaQuery) {
  .popup__container {
    width: 282px;
    padding: 25px 22px 25px 22px;
  }
}

@media screen and (max-width: $mobileBigMediaQuery) {
  .popup__form {
    margin-top: 75px;
  }
}

@media screen and (max-width: $mobileBigMediaQuery) {
  .popup__title {
    font-size: $miniTitleFontSize;
    line-height: 1.22;
  }
}

@media screen and (max-width: $mobileBigMediaQuery) {
  .popup__button {
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: $mobileBigMediaQuery) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
