@import "../../sass/abstracts/variables";

.header {
  max-width: $container;
  margin: 0 auto;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



