@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.nav {
  min-width: calc(100% - 38px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nav__link {
  @include link-reset;
  transition: all .2s ease-in;
  color: $textColor;
}

.nav__link:hover {
  cursor: $cursor;
}

.nav__link.active {
  font-weight: $fontMedium;
  color: $textColor;
}

.nav__link_type_register {
  font-weight: $fontMedium;
  font-size: $smallFontSize;
  line-height: 16px;
  color: $textColor;
}

.nav__link_type_register:hover {
  color: #A0A0A0;
}

.nav__link_type_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  font-weight: $fontMedium;
  font-size: $smallFontSize;
  line-height: 16px;
  border-radius: 3px;
  background-color: $backgroundColorB;
  color: $buttonTextColor;
}

@media screen and (max-width: $mobileMediumMediaQuery) {
  .nav__link_type_register {
    font-size: $xSmallFontSize;
  }
}
