@import "normalize.css";
@import "sass/base/fonts";
@import "sass/abstracts/variables";
@import "sass/abstracts/mixins";

.page {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  background: $backgroundColor;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

.button__todo {
  @include button-style;
  width: 100px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
}
